@charset "utf-8";
/* CSS Document */

h1 {font-family: 'Amita', serif;
font-family: 'Indie Flower', cursive; text-transform: uppercase}
label {font-family: 'Amita', serif;
font-family: 'Indie Flower', cursive;}
p {font-family: 'Amita', serif;
font-family: 'Indie Flower', cursive;
text-align: center; width: 300px;
display: block;}

body {
	background-color: chartreuse }

a {font-family: 'Amita', serif;
font-family: 'Indie Flower', cursive; color: gold}

header{ background-color: rebeccapurple; padding: 15px;
	margin-top: 25px;
}

figcaption {font-family: 'Amita', serif;
font-family: 'Indie Flower', cursive;}

navigation {color: white}

image {display: inline-block; } 